<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pagina de Perfil</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h3>Pagina de Perfil</h3>
        Bienvenido usuario: <%= user.local.email %>
        <a href="/logout" class="btn btn-primary">
          Salir
        </a>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span> Datos de Usuario</h3>
              <p>
                <strong>id</strong> : <%= user._id %> <br>
                <strong>email</strong> : <%= user.local.email %> <br>
                <strong>password</strong> : <%= user.local.password %>
              </p>
              <a href="/logout" class="btn btn-primary">
                  Cerrar Session
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>